.table{
    border : 1px solid  #005684;
    width:80%;
}

.table ,th ,tr ,td {
    border-bottom: 1px solid #2a4375;
    padding: 15px 20px;
    border-left: #004db8 1px dashed;
}

.table tr :hover{
    background-color: #435686;
}

.input{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius:20px;
    border:1px solid rgb(197, 216, 52)
}

.input:focus{
    border: 3px dashed rgb(238, 255, 108)
    background-color lightblue;
}
.button {
    background-color: #b6b622; 
    border: none;
    color: rgb(112, 127, 17);
    padding: 20px 50px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:50px;
    font-size: 30px;
    width:100%;
}
.button:hover{
    background-color: #c3d127;
}
.container{
    max-width: 600px;
    margin: auto;
}

.center{
    display: flex;
    justify-content:center;
    align-items: center;
    height:200px;

}

.text-center{
    text-align: center;
    color:rgb(216, 206, 0);
}